{% extends '_layouts/base.njk' %}

{% block content %}
<div class="container-fluid container-detail">
<h1>{{ members.name }}</h1>
  <div class="row justify-content-center"> 
    <img src="img/members/{{members.slug}}-color.jpg" alt="{{members.name}}" class="img-fluid rounded">
    <img src="img/members/{{members.slug}}-bw.jpg" alt="{{members.name}}" class="img-fluid rounded">
  </div>
  <div class="row justify-content-center">
    <div class="card-deck text-light">
      <div class="card">
        <div class="card-body"> 
          <h5>Instruments</h5>
          <p class="card-text">{{ members.instruments }}</p>
        </div> 
      </div> 
      <div class="card">
        <div class="card-body">
          <h5>Tenure</h5>
          <p class="card-text">{{ members.tenure }}</p>
        </div> 
      </div>
      <div class="card">
        <div class="card-body"> 
          <h5>Birthplace</h5>
          <p class="card-text">{{ members.birthplace }}</p>
        </div> 
      </div>
      <div class="card">
        <div class="card-body"> 
          <h5>Birthdate</h5>
          <p class="card-text">{{ members.birthdate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-narrative col-md-6 text-dark">
      <h2> About {{ members.name }} </h2>
      <article> {{ members.text | safe }} </article>
    </div>
  </div>
</div>
{% endblock %} 
