{% extends '_layouts/base.njk' %}

{% block content %}
<div class="container">
<h1>{{ members.name }}</h1>
  <div class="row">
    <div class="col-sm-4 col-md-6">
      <div class="members-photo text-center">
        <img src="img/members/{{members.slug}}-color.jpg" alt="{{members.name}}" class="img-fluid rounded">
      </div>
    </div>
    <div class="col-bio col-sm-4 col-md-6">
      <div class="card-deck text-light">
        <div class="card justify-content-center">
          <div class="card-inner"> 
            <div class="card-front w-100 vertical-text">Instruments
            </div> 
            <div class="card-back"> {{ members.instruments}}
            </div> 
          </div>
        </div>
        <div class="card justify-content-center">
          <div class="card-inner"> 
            <div class="card-front w-100 vertical-text">Tenure
            </div> 
            <div class="card-back"> {{ members.tenure }}
            </div> 
          </div>
        </div>
        <div class="card justify-content-center">
          <div class="card-inner"> 
            <div class="card-front w-100 vertical-text">Birthplace
            </div> 
            <div class="card-back"> {{ members.birthplace}}
            </div> 
          </div>
        </div>
        <div class="card justify-content-center">
          <div class="card-inner"> 
            <div class="card-front w-100 vertical-text">Birthdate
            </div> 
            <div class="card-back"> {{ members.birthdate}}
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-narrative text-dark">
      <h2> About {{ members.name }} </h2>
      <article> {{ members.text | safe }} </article>
    </div>
  </div>
</div>
{% endblock %} 
