.container-detail {
  .row {
    padding: 10px;
    img {
    border-radius: 20px;
    padding: 5px;
    }
  }
}
 
.card { 
  background-color: black;
  border-radius: 20px;
  .card-body {
    padding-top: 10px;
    text-align: center;
  }
}

.col-narrative {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}