.members-photo {
  padding-bottom: 10px;
  padding-top: 10px;
  img {
    border-radius: 20px;
  }
}

.col-bio {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.col-narrative {
  padding: 20px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
}

h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.vertical-text{
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.card { 
  height: 500px;
  width: 100px;
  perspective: 1000px; 
  background-color: black;
  border-radius: 20px;
  display: inline-flex;

} 
.card-inner { 
  position: relative; 
  text-align: center; 
  transition: transform 0.6s; 
  transform-style: preserve-3d; 
} 
.card:hover .card-inner { 
  transform: rotateY(180deg); 
} 
.card-front, .card-back { 
  position: absolute; 
  backface-visibility: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.card-back { 
  transform: rotateY(180deg); 
} 