// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";

@import "jumbotron";

@import "detail";

.container-fluid {
  padding: 20px;
}

.container {
  padding: 20px;
}
  
body {
  font-family: 'Open Sans';
  h1, h2, h3, h4, h5 {
    text-align: center;
    font-family: 'Playfair Display' !important;
  }
}

.members-container {
  background-color: #181616;
  
  .circular-portrait {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
      
      .members-img {
        width: 100%;
        height: auto;
      }
      
        .text-centered {
          color: white;
          font-size: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
        }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
}

  .circular-portrait:hover .overlay {
    opacity: 1;
  }

.music-container {
    border-top: 1px solid black;

  .music {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
      
      .card-img {
        width: 100%;
        height: auto;
      }

      .card-title {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .card-text {
        color: white;
        font-size: 20px;
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
  }
}

  .card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: gray;
  }
  
    .music:hover .card-img-overlay {
      opacity: 1;
    }
